@charset "UTF-8";

:root {
  --ruler: 18px;
  --color-red: #ae1100;
  --main-bg: #ebecf0;
  --font-color: #555555;
  --color-shadow: #babecc;
  --color-white: #ffffff;
  --main-space: 32px;
}

body, html {
  background-color: var(--main-bg);
}

body, p, input, select, button {
  font-family: 'UD デジタル 教科書体 N-R', sans-serif;
  letter-spacing: -0.2px;
  font-size: var(--ruler);
}

div, p, h1{
  color: var(--font-color);
  text-shadow: 1px 1px 1px var(--color-white);
}

.red {
  color: var(--color-red);
}



main {
  padding: var(--main-space) 0;
}

h1 {
  font-size: calc(var(--ruler) * 2.5);
  text-align: center;
  letter-spacing: 5px;
  margin-bottom: calc(var(--main-space) * 1.5);
}

main p {
  text-align: center;
  margin-bottom: calc(var(--main-space) * 0.8);
}

main .heading {
  font-size: calc(var(--ruler) * 1.6);
  margin-bottom: calc(var(--main-space) * 1.6);
}

.link_btn {
  width: 20%;
  margin: 0 auto;
}

a {
  display: block;
  padding: calc(var(--ruler) * 1.5) 0;
  border-radius: calc(var(--ruler) * 1.5);
  box-sizing: border-box;
  box-shadow: -5px -5px 20px var(--color-white),  5px 5px 20px var(--color-shadow);
  text-align: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}

a:hover {
  box-shadow: -2px -2px 5px var(--color-white), 2px 2px 5px var(--color-shadow);
}
  
a:active {
  box-shadow: inset 1px 1px 2px var(--color-shadow), inset -1px -1px 2px var(--color-white);
}

hr {
  height: 1px;
  margin-bottom: var(--main-space);
  background: var(--color-shadow);
  background: -webkit-linear-gradient(left, var(--main-bg), var(--color-shadow), var(--main-bg));
  box-shadow: 1px 1px 2px var(--color-white);
  box-shadow: 1px 1px 2px -webkit-linear-gradient(left, var(--main-bg), var(--color-white), var(--main-bg));
}

footer {
  margin-bottom: var(--main-space);
}

footer p {
  text-align: center;
}

footer small{
  font-size: calc(var(--ruler) * .9);
}